#
# @fileMetadata
# @purpose Specifies intentionally untracked files that Git should ignore.
# @owner dev-ops
# @lastModifiedBy Drew Madison
# @lastModifiedDate 2025-07-03T19:43:12-04:00
# @status active
# @notes Defines patterns for files and directories to be excluded from version control.
#
# dependencies
node_modules/
.pnpm-store/

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo

# ide
.idea/
.vscode/
*.swp
*.swo